server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/library_db?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

hadoop:
  fs-default: hdfs://localhost:9000
  log-dir: /library/logs/

